* {
	font-family: 'Stylish', sans-serif;
}
.wrap {
	width: 900px;
	margin: auto;
}
.comment {
	color: blue;
	font-weight: bold;
}
.form-post {
	max-width: 500px;
	padding: 2rem;
	margin: 2rem auto;
	border-color: #e9ecef;
	border-radius: 0.3rem;
	border: solid;
	display: block;
}
#posting-box {
	display: none;
}